body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.header {
    background-color: #1F2937;
    font-size: 24px;
    color: #f9faf8;
    padding: 150px 200px;
}

.links {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-left: auto;
}

.content-one {
    display: flex;
    align-items: center
    justify-content: flex-start;
    gap: 30px;

}

.content-two {
    display: flex;
    flex-direction: column;

}

.placeholder {
    background-color: grey;
    padding: 75px;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px
}

.text {
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 150px 200px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-second {
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    font-style: normal;
}

.button-one {
    background-color: #3883f6;
    border-style: none;
    color: white;
    padding: 5px 20px;
    align-self: flex-start;
}

.button-two {
    background-color: #3883f6;
    border-style: groove;
    border-color: #e5e7eb;
    color: white;
    padding: 5px 20px;
}

.action-bar {
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 75px 200px;
    gap: 75px;
}

.footer {
    background-color: #1F2937;
    font-size: 18px;
    color: #f9faf8;
    padding: 30px;
    display: flex;
    justify-content: center;
    margin: 0;
}



